<div class="container styleContainer" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()"  novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP" required="">
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripción del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required="">
                </div>
                <div class="form-group">
                    <label for="urlP">URL del proyecto</label>
                    <input type="text" class="form-control" id="urlP" name="urlP" [(ngModel)]="proyecto.urlP" required="">
                </div>
                <div class="editBtn">
                    <button class="btn btn-primary ">
                        Save
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>