<div class="redes">
    <!--  <div class="redesO">
        <a href="https://ar.linkedin.com/">
            <img src="../../../assets/linkedin.png" alt="LogoAP">
        </a>

        <a href="https://twitter.com/">
            <img src="../../../assets/twitter.png" alt="LogoAP">
        </a>

        <a href="https://www.instagram.com/ema_7_lz/">
            <img src="../../../assets/instagram.png" alt="LogoAP">
        </a>

        <a href="https://github.com/KIYIMA">
            <img src="../../../assets/github.png" alt="LogoAP">
        </a>

        <a href="https://www.facebook.com/emanuelezequiel.lezcano.9/">
            <img src="../../../assets/facebook.png" alt="LogoAP">
        </a>
    </div> -->

    <div class="logo">
        <a href="">
            <div class="link">
                <div><img src="../../../assets/gato.png" alt="Logo"></div>
                <div class="textLogo">Lezcano Emanuel</div>
            </div>
        </a>
    </div>

    

    <div class="btnInicio">
        <div class="CV">
            <a href="#CV">
                CV
            </a>
        </div>
        <div class="proyectos">
            <a href="#Proyectos">
                Proyectos
            </a>
        </div>
        <div class="hys">
            <a href="#HyS">
                HyS
            </a>
        </div>
        <div class="educacion">
            <a href="#Educacion">
                Educacion
            </a>
        </div>
        <div class="btnEdit">
            <button type="button" class="btn  iniciar" (click)="login()" *ngIf="!isLogged"><i
                class="bi bi-box-arrow-right"></i></button>
        </div>
        <div class="btnEdit">
            <button type="button" class="btn iniciar" (click)="onLogOut()" *ngIf="isLogged"><i
                class="bi bi-box-arrow-left"></i></button>
        </div>
    </div>
</div>