<div class="container styleContainer">
    <form (ngSubmit)="onCreate()" enctype="multipart/form-data" novalidate #f="ngForm">
        <div class="form-group">
            <label for="nombreLenguaje" style="color: rgb(214, 214, 214) ;">Nombre de lenguaje</label>
            <input type="text" placeholder="Nombre de enguaje.." class="form-control" id="nombreLenguaje"
                name="nombreLenguaje" [(ngModel)]="nombre" required="">
        </div>
        <div class="form-group">
            <label for="porcentaje" style="color: rgb(214, 214, 214) ;">Título</label>
            <input type="text" placeholder="Porcentaje de aprendido..." class="form-control" id="porcentaje"
                name="porcentaje" [(ngModel)]="porcentaje" required="">
        </div>
        <div class="editBtn">
            <button class="btn btn-primary">
                Agregar Lenguaje
            </button>
        </div>
        
    </form>
</div>